<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MAPresenter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03120D0F1E2A8B86003EE095</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03120D231E2A8B86003EE095</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03120D2E1E2A8B86003EE095</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
